        <form id="taskForm" name="taskForm" method="post" action="[ACTION]">
            <p>
                <input type="hidden" id="command" name="command"/>
                <input type="hidden" id="taskName" name="taskName"/>
                <input type="hidden" id="taskStartTime" name="taskStartTime"/>
                <input type="hidden" id="taskStopTime" name="taskStopTime"/>
                <b>Tasks scheduled at [DATE_TIME]</b><br/>
                <table border="0">
