                    <tr>
                        <td colspan="2">
                            <br/>
                            <b>Configuration parameters</b>
                            <br/><br/>
                            <i>command</i> - configuration command; its value can be one of the following:<br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;<i>help</i> - shows scheduler help<br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;<i>start</i> - starts the scheduler<br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;<i>stop</i> - stops the scheduler or a task<br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;<i>remove</i> - stops and removes a task<br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;<i>add</i> - schedules a new task<br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;<i>schedule</i> - re-schedules a task<br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;<i>kill</i> - kills a task<br/>
                            <i>iniFileName</i> - the task configuration file name<br/>
                            <i>taskName</i> - the task name<br/>
                            <i>taskClassName</i> - the task class name<br/>
                            <i>taskDescription</i> - the task description<br/>
                            <i>taskStartTime</i> - the task start time in HH:MM:SS format or the daemon id string<br/>
                            <i>taskStopTime</i> - the task stop time in HH:MM:SS format or the daemon id string
                            <br/><br/>
                        </td colspan="2">
                    </tr>
