                            <input type="button" name="stop" value="stop"
                                   onclick="taskStop('[TASK_NAME]')"/>&nbsp;&nbsp;
                            <input type="button" name="remove" value="remove"
                                   onclick="taskRemove('[TASK_NAME]')"/>&nbsp;&nbsp;
                            <input type="button" name="kill" value="kill"
                                   onclick="taskKill('[TASK_NAME]')"/><br/><br/>
                        </td>
                    </tr>