                    <tr>
                        <td valign="top">
                            <input type="button" name="add" value="add"
                                   onclick="commandAdd()"/>
                        </td>
                        <td>
                            <table border="0">
                                <tr>
                                    <td width="125px">
                                        task name:
                                    </td>
                                    <td colspan="3">
                                        <input type="text" id="taskName" name="taskName"
                                               size="52" maxlength="255"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="125px">
                                        task description:
                                    </td>
                                    <td colspan="3">
                                        <input type="text" id="taskDescription" name="taskDescription"
                                               size="52" maxlength="255"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="125px">
                                        task class name:
                                    </td>
                                    <td colspan="3">
                                        <input type="text" id="taskClassName" name="taskClassName"
                                               size="52" maxlength="255"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="125px">
                                        task start time:
                                    </td>
                                    <td width="125px">
                                        <input type="text" id="taskStartTime" name="taskStartTime"
                                               size="8" maxlength="8"/>
                                    </td>
                                    <td width="125px">
                                        task stop time:
                                    </td>
                                    <td width="125px">
                                        <input type="text" id="taskStopTime" name="taskStopTime"
                                               size="8" maxlength="8"/>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </p>
        </form>
