                    <tr>
                        <td>
                            Task <b>[TASK_NAME]</b>[TASK_STATE]
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;&nbsp;description: [TASK_DESCRIPTION]<br/>
                            &nbsp;&nbsp;class: [TASK_CLASS_NAME]<br/>
                            &nbsp;&nbsp;info: [TASK_INFO]
                        </td>
                    </tr>
                    <tr>
                        <td>
